/**
* ----------------------------------------------------------------------------------------------------
* Main styles
* ----------------------------------------------------------------------------------------------------
**/

.slopes {
  padding-top: 150px;
  overflow: hidden;
}

.slope__child {
  color: #000;
  margin: 0 -50px;
  @include transform-origin(left center);
  &:nth-child( odd ) {
    @include coloration-and-rotate($color__base--forest-green, white, -7deg);
  }
  &:nth-child( even ) {
    @include coloration-and-rotate(white,$color__base--snow  , -7deg);
  }
}

.main-services__column {
  @include span(6 of 12)
}

.service-link {
  display: inline-block;
  position: relative;
  height: auto;
}
.service-link__label {
  position: absolute;
  bottom: 1em;
  z-index: 5;

  color: white;
  font-size: 18px;
}
.service-link__label--left {
    right: 1em;
}
.service-link__label--right {
    left: 1em;
}
.service-link__image {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-features__column {
  @include span(4 of 12);
  text-align: center;
}

.feature {
  display: inline-block;
  margin: 3em 0;
}

.feature__title,
.feature__subtitle {
  margin: 0;
  color: $color__text;
}

.feature__title {
  font-size: $base__font--size * 2.5;
  line-height: $base__font--size * 2.5 ;
}
.feature__subtitle {
  font-size: $base__font--size * 1.5;
  line-height: $base__font--size * 2.5;
  margin-top: 2em;
}
.feature__text {
  color: $color__text--light;
  font-weight: 300;
}


.main-portfolio {
  padding: 2em 0 4em 0;
  overflow: hidden;
}
.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-portfolio {
  margin: 2em 0;
  clear: both;
  height: auto;
  overflow: hidden;
}
.carousel-portfolio__item {
  display: block;
  @include span(3 of 12);
}

.portfolio-item {
  position: relative;
  display: inline-block;
  height: auto;

  cursor: pointer;
  &.js__action--active > .portfolio-item__overlay{
    bottom: 0;
  }
}

.portfolio-item__overlay {
  display: block;
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 1em;

  background: rgba($color__text, 0.5);
  text-align: center;
  @include transition-property(bottom);
  @include transition-duration(0.33s);
}

.portfolio-item__image {
  display: block;
  position: relative;
  z-index: 5;


}
.portfolio-zoom {
  display: inline-block;
  position: relative;
  top: 25%;
  text-align: center;
}
.portfolio-zoom__icon,
.portfolio-zoom__label {
  display: inline-block;
  color : white;
}
.portfolio-zoom__icon {
  width: 100%;
  margin-bottom: 1em;
}

.portfolio-zoom__label {
  font-size: $base__font--size;
}

.carousel-controls {
  width: 100px;
  float: right;
  margin-right: 5px;
  margin-bottom: 1em;
}
.carousel-controls__item {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: $color__text--light;
  background: lighten($color__base--snow, 10%);
  &:hover {
    background: darken($color__base--snow, 10%);
  }
}
