/**
* ----------------------------------------------------------------------------------------------------
* Main styles
* ----------------------------------------------------------------------------------------------------
**/
.heading {
  font-family: $base__font--modern;
  font-weight: bold;
  text-transform: uppercase;
}
.heading--large {
  font-size: $base__font--size * 1.5;
  color: $color__text;
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  &:before {
    content : "";
    display: inline-block;
    width: $base__font--size * 12;
    background: $color__text;
    left: 50%;
    margin-left: -$base__font--size * 12 / 2;
    height: 2px;
    position: absolute;
    bottom: 0;
  }

}
.slopes {
  overflow: hidden;
}

.slope__child {
  color: #000;
  background: white;
  margin: 0 -50px;
  @include transform-origin(left center);
  @include slope-rotate(-5deg);
}
.slope__child--textured {
  background: image-url('imter__pat.jpg');
  @include box-shadow( inset 0px 2px 5px 0px rgba(0,0,0,0.15) ,  inset 0px -2px 5px 0px rgba(0,0,0,0.15));
}
.first-content {
  margin-top: -7em;
  @include box-shadow( 2px 0px 5px 0px rgba(0,0,0,0.15));
}
.main-services-and-features,
.main-portfolio {
  padding: 4em 0 6em 0;
}
.main-services__column {
  @include span(6 of 12)
}

.service-link {
  display: inline-block;
  position: relative;
  height: auto;
}
.service-link__label {
  position: absolute;
  bottom: 1em;
  z-index: 5;

  color: white;
  font-size: 18px;
}
.service-link__label--left {
    right: 1em;
}
.service-link__label--right {
    left: 1em;
}
.service-link__image {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-features__column {
  @include span(4 of 12);
  text-align: center;
}

.feature {
  display: inline-block;
  margin: 3em 0;
}

.feature__title,
.feature__subtitle {
  margin: 0;
  color: $color__text;
}

.feature__title {
  font-size: $base__font--size * 2.5;
  line-height: $base__font--size * 2.5 ;
}
.feature__subtitle {
  font-size: $base__font--size * 1.5;
  line-height: $base__font--size * 2.5;
  margin-top: 2em;
}
.feature__text {
  color: $color__text--light;
  font-weight: 300;
}


.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-portfolio {
  clear: both;
  height: auto;
  overflow: hidden;
}
.carousel-portfolio__item {
  display: block;
  @include span(3 of 12);
}

.portfolio-item {
  position: relative;
  display: inline-block;
  height: auto;

  cursor: pointer;
  &.js__action--active > .portfolio-item__overlay{
    bottom: 0;
  }
}

.portfolio-item__overlay {
  display: block;
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 1em;

  background: rgba($color__text, 0.5);
  text-align: center;
  @include transition-property(bottom);
  @include transition-duration(0.33s);
}

.portfolio-item__image {
  display: block;
  position: relative;
  z-index: 5;


}
.portfolio-zoom {
  display: inline-block;
  position: relative;
  top: 25%;
  text-align: center;
}
.portfolio-zoom__icon,
.portfolio-zoom__label {
  display: inline-block;
  color : white;
}
.portfolio-zoom__icon {
  width: 100%;
  margin-bottom: 1em;
}

.portfolio-zoom__label {
  font-size: $base__font--size;
}

.carousel-controls {
  position: absolute;
  width: 100px;
  right: 0;
  top: 5em;
  margin-right: 5px;
  margin-bottom: 1em;
}
.carousel-controls__item {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: $color__text--light;
  background: lighten($color__base--snow, 10%);
  &:hover {
    background: darken($color__base--snow, 10%);
  }
}

.panel-header {
  width: 100%;
  padding: 16em 0 2em 0;
  position: relative;
  margin-top: -6em;
  background: image-url("imter__header.png") no-repeat center top;
}

.general-section {
  @include span( 12 of 12);
  .caption__title {
    margin-left: 0;
    font-size: $base__font--size * 2.2;
    margin-bottom: 1em;
  }
}

.general-section__left,
.general-section__right {
  @include span(6 of 12);
  margin-left: 0;
}

p.first {
  margin-top: 0;
}



.our-vision {
  background: image-url("imter__pat--clouds.png") repeat-x;
  background-color: #e4f4ff;
  padding: 6em 0 4em 0;
}

.our-vision__column {
  @include span(4 of 12);
  p , li  {
    color: $color__text--light;
  }
  li {
    font-style: italic;
  }
  .heading {
    font-size: $base__font--size * 1.5;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    position: relative;
    &:before {
      content: "";
      width: $base__font--size * 4;
      height: 1px;
      background: $color__text;
      position: absolute;
      bottom: 0;
    }
  }
}

#accordion {
  .accordion__heading {
    cursor: pointer;
    padding: 1em 1em 1em 2em;
    background: $color__base--law-green;
    margin-bottom: 1em;
    @include border-radius(0.5em);
    &:hover {
      background: darken($color__base--law-green, 5%);
    }
  }
  .accordion__title {
    margin: 0;
    text-transform: uppercase;

    a {
      display: block;
      color: white;
      width: 100%;
      text-decoration: none;
      position: relative;
      font-family: $base__font--modern;
      font-weight: 700;
      span, i {
        display: inline-block;
        vertical-align: middle;
      }
      .fa {
        position: absolute;
        right: 0;
        font-size: 20px;
        top: 3px;
      }
    }
  }
  .accordion__body {
    display: none;
    padding: 0 1em 1em
  }
  .accordion__panel {
    &.active .accordion__body {
      display: block;
    }
  }
}

.partners {
  margin-top: 2em;
  border-bottom: 1px solid $color__text;
}
.partner-list {
  display: table;
  text-align: center;
  width: 100%;
  list-style: none;
}
.partner-list__item {
  @include span(2 of 12);
  a {
    position: relative;
    display: inline-block;
    width: auto;
    > img {
      @include filter(grayscale(1));
    }
    &:hover > img {
      @include filter(grayscale(0));
    }
  }
}

.button-blue {
  display: inline-block;
  vertical-align: middle;
  color: white;

  padding: 0.5em 1em;
  text-decoration: none;
  background: $color__base--blue;
  font-family: $base__font--modern;
  font-size: $base__font--size * 1.5;
  @include border-radius(0.25em);
  &:hover {
    background: darken($color__base--blue, 5%);
  }
}

.funding {
  margin: $margin__general/2 0;
  height: auto;
  overflow: hidden;
  padding-bottom: 1em;
  border-bottom: 1px solid $color__text;
  h3, p, a {
    display: inline-block;
    vertical-align: middle;
  }
  h3 {
    padding-right: 0.5em;
  }
  p {
    width: 60%;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 1px solid $color__text;
  }
}

.funding-list {
  display: table;
  width: 100%;
  text-align: center;
  margin: 2em 0;

  .funding-list__item {
    display: table-cell;
    vertical-align: middle;
  }
}
