/**
* ----------------------------------------------------------------------------------------------------
* Buttons styles.
* ----------------------------------------------------------------------------------------------------
**/
.caption__link {
  display: inline-block;
  clear: both;
  background: $color__base--law-green;
  padding: 0.75em 1em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: $base__font--modern;
  font-size: $base__font--size * 1.5;
  font-weight: bold;
  margin-top: 1em;
  @include border-radius(0.25em);
}
