doctype html
html(class="no-js")
  head
    //- TODO: Check if it's the good charset
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title nied page
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
    block css
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic,300|Jura:400,600')
      link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
      link(rel="stylesheet", type="text/css", href="component/slippry/dist/slippry.css")
      link(rel='stylesheet', href='styles/style.css')
    block top-script
      script(src='component/modernizr/modernizr.js')
  body
    //-
      Add your site or application content here
    block wrapp
      .wrapper
        block main-content

          .main
            include partials/home-content


    block bottom-script
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
      script.
        window.jQuery || document.write('<script src="component/jquery/jquery.min.js"><\/script>')
      script(src="component/underscore/underscore.js")
      script(src="component/slippry/dist/slippry.min.js")
      script(src="component/jcarousel/dist/jquery.jcarousel.min.js")
      script(src='scripts/main.js')
      //- TODO : Google Analytics: change UA-XXXXX-X to be your site\'s ID.
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
