doctype html
html(class="no-js")
  head
    //- TODO: Check if it's the good charset
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title nied page
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
    block css
      include partials/styles
    block top-script
      script(src='component/modernizr/modernizr.js')
  body
    //-
      Add your site or application content here
    block wrapp
      .wrapper
        block main-content
          .main
            include partials/services-content

    block bottom-script
      include partials/scripts
