footer.footer
  .container
    .footer__column
      h4.heading Imter Ecotécnias
      ul.zero.menu.menu-vertical.clearfix
        li.menu__item
          a(href="#" class="menu__link") Inicio
        li.menu__item
          a(href="#" class="menu__link") Filosofía
        li.menu__item
          a(href="#" class="menu__link") Servicios
        li.menu__item
          a(href="#" class="menu__link") Portafolio
        li.menu__item.menu__item--last
          a(href="#" class="menu__link") Contacto
    .footer__column
      h4.heading Redes sociales
      ul.list-nostyle.menu-social
        li.menu-social__item
          a(href="#" class="menu-social__link")
            i.fa.fa-facebook.menu-social__icon
            span.menu-social__label Facebook
        li.menu-social__item
          a(href="#" class="menu-social__link")
            i.fa.fa-twitter.menu-social__icon
            span.menu-social__label Twitter
        li.menu-social__item
          a(href="#" class="menu-social__link")
            i.fa.fa-google-plus.menu-social__icon
            span.menu-social__label Google plus
        li.menu-social__item
          a(href="#" class="menu-social__link")
            i.fa.fa-youtube.menu-social__icon
            span.menu-social__label Youtube
        li.menu-social__item
          a(href="#" class="menu-social__link")
            i.fa.fa-linkedin.menu-social__icon
            span.menu-social__label Linkedin
    .footer__column
      h4.heading Contáctanos
      a(href="#").phone-link
        i.fa.fa-phone
        span (443) 314-70-00
    .footer__column.text-centered
      h1.brand__logo--small
        a.brand__link--small Imter Ecotécnias
      p IMTER ECOTECNIAS. 2014 desdarrollado por:
        a(href="http://mucha-web.com/" target="_blank").link-mw Mucha-Web
