.slopes
  include header
  .slope__child
    .slope__content.panel-header
      .container
        .general-section
          h2.caption__title Significado imter
          p Impulsora de Tecnoenergías Renovables, nace en 2009 como una empresa estable, enfocada a impulsar y consolidar la optimización y el  uso de energías renovables y tecnología de vanguardia en el sector de la construcción, logrando así el concepto de sustentabilidad desde el proceso mismo hasta llegar al resultado final.
          p Imter, es  fundada con la firme convicción de formar una empresa caracterizada por el trabajo en equipo y con la meta de lograr el cumplimiento de distintos objetivos a corto, mediano y largo plazo. Desde su origen, es dirigida por dos empresarios y profesionales en el ramo, especializados en temas de BIOCLIMATICA Y SUSTENTABILIDAD EN LA CONSTRUCCIÓN, propiciando así el perfil ideal de liderazgo y trabajo en equipo.
  .slope__child.our-vision
    .slope__content
      .container
        .our-vision__column
          h3.heading Valores
          ul.list-nostyle
            li Honestidad
            li Responsabilidad social e integridad
            li Trabajo en equipo
            li Compromiso y profesionalismo
          p El cuerpo técnico se conforma por un serio, responsable y dedicado grupo de profesionistas en diversas disciplinas que fortalecen la capacidad de gestión, ejecución y control de calidad de nuestros proyectos y obras.
            Con gran cantidad de empleados directos e indirectos, IMTER representa una empresa fuerte y con proyección en todo el estado y fuera de este.
        .our-vision__column
          h3.heading Misión
          p Ofrecer servicios de proyecto y constructivos plenamente sustentables y hacer crecer nuestra venta e instalación de módulos fotovoltaicos interconectados, para lograr satisfacer integralmente cultura de calidad sostenible de nuestros clientes. Lo anterior, haciendo uso de las más avanzadas Tecnoenergías renovables, pero principalmente mediante el responsable y ético cumplimiento de nuestros compromisos sociales  y profesionales.
        .our-vision__column
          h3.heading Visión
          p Consolidarnos como una empresa líder en proyectos y construcciones de calidad sustentable, y en la venta e instalación de sistemas fotovoltaicos, que hagan uso y aprovechamiento de las energías alternas a favor del desarrollo social; A través de recursos humanos capacitados y comprometidos, que garanticen la más alta rentabilidad y sostenibilidad.
  .slope__child
    .slope__content
      include footer
