.slopes
  include header
  .slope__child
    .slope__content.panel-header
      .container
        .general-section
          h2.caption__title Sistemas Solares Fotovoltáicos Interconectados
          .general-section__left
            img(src="images/imter__image--service.png", alt="")
          .general-section__right
            p.first <strong>Impulsora de Tecnoenergías Renovables </strong> es una empresa especializada en la elaboración de proyectos e instalación de <strong>Sistemas Fotovoltaicos Interconectados </strong>  (SSFI) a red de C.F.E, como fuente de energía renovable.
            p Tenemos el compromiso de satisfacer las demandas de nuestros clientes ofreciéndoles experiencia, calidad y los mejores costos de acuerdo a sus necesidades.
            p Trabajamos bajo las normas de la comisión federal de electricidad cumpliendo cabalmente con los estándares de calidad exigidos para este tipo de instalaciones.
            h3 ¡Todos nuestros casos…son casos de éxito!
.container
  #accordion.accordion
          .accordion__panel.active
            header.accordion__heading
              h4.accordion__title
                a(href="#" class="accordion__toggle")
                  span ¿Qué es un ssfi?
                  i.fa.fa-plus-circle
            .accordion__body
              p Los paneles solares están conformados por celdas de silicio que generan energía eléctrica a partir de la radiación solar, de esta manera se crea electricidad sin emisiones de CO2 a la atmosfera contribuyendo al cuidado y mejoramiento de nuestro medio ambiente, es por ello que son conocidas como “energías limpias”.
              p Un  Sistema Solar Fotovoltaico Interconectado son un conjunto de dispositivos (panel solar, inversor, medidor bidireccional) que transforman la energía del sol en electricidad lista para ser utilizada en hogar, comercio e industria.

              p El sistema esta interconectado a la red de C.F.E. por lo que no es necesario el uso de baterías, durante el día  los paneles están generando energía que es consumida por el inmueble, cuando el inmueble necesite mayor energía de la que producen los paneles esta será suministrada por C.F.E. (por ejemplo al anochecer), así que usted dispondrá del suministro de energía eléctrica proveniente de los paneles y de la red.
              p Desde 2007 la legislación mexicana permite a cualquier usuario residencial o comercial del sistema eléctrico nacional el generar su propia electricidad, mediante el uso de sistemas solares interconectándose a la misma red eléctrica para intercambiar energía con ella.

          .accordion__panel
            header.accordion__heading
              h4.accordion__title
                a(href="#" class="accordion__toggle")
                  span funcionamiento de un ssfi.
                  i.fa.fa-plus-circle
            .accordion__body
              p Los paneles solares están conformados por celdas de silicio que generan energía eléctrica a partir de la radiación solar, de esta manera se crea electricidad sin emisiones de CO2 a la atmosfera contribuyendo al cuidado y mejoramiento de nuestro medio ambiente, es por ello que son conocidas como “energías limpias”.
              p Un  Sistema Solar Fotovoltaico Interconectado son un conjunto de dispositivos (panel solar, inversor, medidor bidireccional) que transforman la energía del sol en electricidad lista para ser utilizada en hogar, comercio e industria.

              p El sistema esta interconectado a la red de C.F.E. por lo que no es necesario el uso de baterías, durante el día  los paneles están generando energía que es consumida por el inmueble, cuando el inmueble necesite mayor energía de la que producen los paneles esta será suministrada por C.F.E. (por ejemplo al anochecer), así que usted dispondrá del suministro de energía eléctrica proveniente de los paneles y de la red.
              p Desde 2007 la legislación mexicana permite a cualquier usuario residencial o comercial del sistema eléctrico nacional el generar su propia electricidad, mediante el uso de sistemas solares interconectándose a la misma red eléctrica para intercambiar energía con ella.

          .accordion__panel
            header.accordion__heading
              h4.accordion__title
                a(href="#" class="accordion__toggle")
                  span Beneficios fiscales de un sistema solar fotovoltáico interconectado.
                  i.fa.fa-plus-circle
            .accordion__body
              p Los paneles solares están conformados por celdas de silicio que generan energía eléctrica a partir de la radiación solar, de esta manera se crea electricidad sin emisiones de CO2 a la atmosfera contribuyendo al cuidado y mejoramiento de nuestro medio ambiente, es por ello que son conocidas como “energías limpias”.
              p Un  Sistema Solar Fotovoltaico Interconectado son un conjunto de dispositivos (panel solar, inversor, medidor bidireccional) que transforman la energía del sol en electricidad lista para ser utilizada en hogar, comercio e industria.

              p El sistema esta interconectado a la red de C.F.E. por lo que no es necesario el uso de baterías, durante el día  los paneles están generando energía que es consumida por el inmueble, cuando el inmueble necesite mayor energía de la que producen los paneles esta será suministrada por C.F.E. (por ejemplo al anochecer), así que usted dispondrá del suministro de energía eléctrica proveniente de los paneles y de la red.
              p Desde 2007 la legislación mexicana permite a cualquier usuario residencial o comercial del sistema eléctrico nacional el generar su propia electricidad, mediante el uso de sistemas solares interconectándose a la misma red eléctrica para intercambiar energía con ella.

          .accordion__panel
            header.accordion__heading
              h4.accordion__title
                a(href="#" class="accordion__toggle")
                  span Candidatos para la instalación de un ssfi.
                  i.fa.fa-plus-circle
            .accordion__body
              p Los paneles solares están conformados por celdas de silicio que generan energía eléctrica a partir de la radiación solar, de esta manera se crea electricidad sin emisiones de CO2 a la atmosfera contribuyendo al cuidado y mejoramiento de nuestro medio ambiente, es por ello que son conocidas como “energías limpias”.
              p Un  Sistema Solar Fotovoltaico Interconectado son un conjunto de dispositivos (panel solar, inversor, medidor bidireccional) que transforman la energía del sol en electricidad lista para ser utilizada en hogar, comercio e industria.

              p El sistema esta interconectado a la red de C.F.E. por lo que no es necesario el uso de baterías, durante el día  los paneles están generando energía que es consumida por el inmueble, cuando el inmueble necesite mayor energía de la que producen los paneles esta será suministrada por C.F.E. (por ejemplo al anochecer), así que usted dispondrá del suministro de energía eléctrica proveniente de los paneles y de la red.
              p Desde 2007 la legislación mexicana permite a cualquier usuario residencial o comercial del sistema eléctrico nacional el generar su propia electricidad, mediante el uso de sistemas solares interconectándose a la misma red eléctrica para intercambiar energía con ella.
  .partners
    h2.heading Proveedores
    ul.zero.partner-list
      li.partner-list__item
        a(href="#")
          img(src="images/enphase.jpg", alt="" class="img-responsive")
      li.partner-list__item
        a(href="#")
          img(src="images/yingli_solar.jpg", alt="" class="img-responsive")
      li.partner-list__item
        a(href="#")
          img(src="images/fronius.jpg", alt="" class="img-responsive")
      li.partner-list__item
        a(href="#")
          img(src="images/solarworld.jpg", alt="" class="img-responsive")
      li.partner-list__item
        a(href="#")
          img(src="images/jinko.jpg", alt="" class="img-responsive")
      li.partner-list__item
        a(href="#")
          img(src="images/solartec.jpg", alt="" class="img-responsive")
  .funding
    h3.heading Finananciamiento
    p Existen distintas entidades financieras que otorgan financiamientos para la adquisición de Sistemas Fotovoltaicos interconectados. Lo invitamos a ponerse en contacto con nosotros para brindarle asesoría  detallada sobre un financiamiento.
    a(href="#" class="button-blue") Ir a contacto
    ul.list-nostyle.funding-list
      li.funding-list__item
        img(src="images/cibanco.png", alt="")
      li.funding-list__item
        img(src="images/nacional-financiera.png", alt="")
      li.funding-list__item
        img(src="images/ban-bajio.png", alt="")
      li.funding-list__item
        img(src="images/imter-financiamiento.png", alt="")

include footer
