@mixin hide-text {
  font        : 0/0 a;
  text-shadow : none;
  color       : transparent;
}

@mixin slope-rotate($angle: 5deg) {
  @include transform(rotate($angle));
  .slope__content{
    @include transform(rotate(-$angle));
  }
}
