/**
* ----------------------------------------------------------------------------------------------------
* Settings.
* ----------------------------------------------------------------------------------------------------
**/


//* Typography */
$base__font--size           : 14px;
$base__font--sans           : 'Roboto', sans-serif;
$base__font--modern          : 'Jura', serif;
$base__font--height         : $base__font--size * 1.5;

//* Colors */
$color__link                : #4183C4;
$color__link--hover         : #333;
$color__text                : #2f2f2f;
$color__text--light         : #666666;
$color__hr                  : #EEE;

//* Colors social media */
$color__facebook            : #3B5998;
$color__twitter             : #2EB3E5;
$color__google              : #DD4B39;
$color__pinterest           : #CB2027;

//* Color scheme */

$color__base--forest-green : #038541;
$color__base--law-green    : #7ac142;
$color__base--blue         : #20368d;
$color__base--snow         : #e1e1e1;

$color__validation--error   : #FF4C4C;
$color__validation--success : #7CC576;


//* Positioning */
$margin__multiplier         : 2;
$margin__general            : $base__font--height * $margin__multiplier; //
