/**
* ----------------------------------------------------------------------------------------------------
* Base styles.
* ----------------------------------------------------------------------------------------------------
**/
html {
  -webkit-font-smoothing: antialiased;
}

@include layout(12 (60px 20px) split static);

.container {
  @include container();
}

body {
  background: white;
  font-family: $base__font--sans;
  font-size: $base__font--size;
  line-height: $base__font--height;
}

* {
  @include box-sizing(border-box);
}

